html {
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #505a75;
    font-size: 1.1rem;
    line-height: 1.3em;
}
* {
    box-sizing: border-box;
    border: 0;
}
header {
    padding: 1.25em 0rem;
    font-size: .7em;
    background: #303242;
    color: white;
}
.wrapper, form, fieldset {
    margin: 0 auto;
}
.wrapper {
    width: 90%;
}
form, fieldset {
    padding: 0;
}
form {
    padding-top: 1em;
    border-top: double 10px;
    text-align: left;
    line-height: 1.7em;
}
h2, option {
    color: #303242;
    font-size: 1.2em;
}
p, select {
    color: gray;
}
#intro {
    margin: 2.2em 0;
}
#contact {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5em;
    border-bottom: solid 2px;
}
input, select, textarea, button {
    padding: 1.2em;
    margin: 0.5em 0.8em 1.2em 0.4em;
    border-radius: 5px;
}
input:not([type="radio"], [type="checkbox"]), select, textarea, button  {
    margin-left: 0;
}
input, select, textarea {
    background-color: #edeef2;
    transition: background-color 1s;
}
input, textarea {
    font-style: italic;
    text-align: right;
}
textarea, button {
    width: 100%;
}
textarea {
    min-height: 6em;
}
button {
    color: white;
    background: cadetblue;
    font-size: 1.4em;
}
#zip {
    width: 50%;
}
#intro, :focus {
    background-color: lightblue;
}
#intro {
    margin: 0;
    padding: 2em 0;
}
.boxes {
    margin: 1em 0;
}

@media screen and (min-width: 768px) {
    
    .wrapper {
        width: 65%;
    }
    label, #zip {
        width: 25%;
        margin: auto 0;
    }
    input:not([id="zip"]), select, button, .zipwrap {
        flex: 1 50%;
    }
    #contact {
        flex-direction: row;
        flex-wrap: wrap;
    }
}