html {
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #505a75;
    font-size: 1.1rem;
    line-height: 1.3em;
}
* {
    box-sizing: border-box;
    border: 0;
}
header {
    padding: 1.25em 0rem;
    font-size: .7em;
    background: #303242;
    color: white;
}
.wrapper, form, fieldset {
    margin: 0 auto;
}
.wrapper {
    width: 90%;
}
form, fieldset {
    padding: 0;
}
form {
    text-align: left;
    line-height: 1.7em;
}
h2, option {
    color: #303242;
    font-size: 1.2em;
}
p, select {
    color: gray;
}
#intro {
    margin: 2.2em 0;
}
#contact {
    padding-bottom: 1.5em;
    border-bottom: solid 2px;
    padding-top: 1em;
    border-top: double 10px;
}
input, select, textarea, button {
    padding: 1.2em;
    margin: 0.5em 0.8em 1.2em 0.4em;
    border-radius: 5px;
}
input:not([type="radio"], [type="checkbox"]), select, textarea, button  {
    width: 100%;
    margin-left: 0;
}
input, select, textarea {
    background-color: #edeef2;
}
input {
    font-style: italic;
}
textarea {
    min-height: 6em;
}
button {
    color: white;
    background: cadetblue;
    font-size: 1.4em;
}
#zip {
    width: 50%;
}
.boxes {
    margin: 1em 0;
}